DATABASE_URL=
REDIS_URL=
PORT=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
ETHEREAL_HOST=
ETHEREAL_PORT=
ETHEREAL_USER=
ETHEREAL_PASSWORD=
WORKER_CONCURRENCY=
MIN_EMAIL_DELAY_MS=
MAX_EMAILS_PER_HOUR=